.tipoFilMap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;

}

.filMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    height: 50vh;
    margin-bottom: 28px;
    padding: 0px;
}



.btn-aplicarFilMap {
    margin-top: 30px;
    margin: 3px;
    background-color: rgb(236, 155, 148);
    color: white;
    width: 38%;
}

.btn-servicioFilMap {
    font-size: 1.2rem;
    padding: 10px;
}

.btn-servicioFilMap:hover {
    border: 6px solid rgb(245 166 35);
}

.btn-tipoFilMap {
    font-size: 1.2rem;
    padding: 10px;
    border: 1px solid #9cb6b8;
}

.btn-tipoFilMap:hover {
    border: 6px solid rgb(245 166 35);
    background-image: url();
}

.aplyDeletFilMap {
    display: flex;
    justify-content: center;
}

.buttonFilMap {
    display: flex;
    background-color: transparent;
    border-radius: 10px;
    margin: 6px;
    width: 100px;
    height: 100px;
    border: 1px solid #9cb6b8;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

}

.img_filMap {
    width: 100%;

}

.p_filMap {
    font-size: 15px;
    color: #01748e;
}

.btn-borrarFilMap {
    background-color: salmon;
    color: white;
    background-color: transparent;
    display: flex;
    flex-wrap: nowrap;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgb(236, 155, 148);

}

.b-boton {
    background-color: transparent;
    background-color: salmon;
    border: 0;
    color: white;
    width: 100px;
    border-radius: 5px;
}