.mascotaImagen{
    height: 25vh;
}
.mascotaImagen img{
    height: 100%;
}
.mascotaNombre{
    display: flex;
    justify-content: center;
    align-items: center
}
.mascotaOpciones{
    display: flex;
    justify-content: center;
}
.mascotaOpciones h4{
    padding: 0 25px;
    
}
.mascotaOpcionesDatos {
    color: rgb(1, 116, 142);
    border-bottom: 3px solid rgb(250 156 147);
}
.mascotaOpcionesSalud{
    color: rgb(1, 116, 142);
    border-bottom: 3px solid rgb(250 156 147);
}
.mascotaOpcionesAdopcion{
    color:rgb(1, 116, 142);
    border-bottom: 3px solid rgb(250 156 147);
}
.mascotaLinea{
    display: flex;
    justify-content: space-evenly
}
.mascotaLinea2 {
    display: flex;
    justify-content: center;
}