.c-sele select {
    border: 0;
    border-bottom: 1px solid #9cb6b8;
}

.c-sele h4 {
    font-weight: 300;
    text-align: justify;
    color: #00748E;

}

.container {
    padding: 0 20px;
}

.indiv {
    padding: 0 !important;
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #9cb6b8;
}

.indiv-b {
    width: 40px;
    height: 40px;

}

.indiv-b img {
    width: 100%;

}

.indiv p {
    line-height: 1;
    font-size: 10px;
}

.c-sele h2 {
    font-weight: 300;
    text-align: justify;
    color: #00748E;
}

.indiv-b--ul img {
    width: 79%;
}

.img-sexo {
    border: 1px solid black;
    display: flex;


}

.img-sexo img {
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    width: 100%;
    object-fit: cover;
}

.boton-aplicar {
    border-radius: 10px;
    border: 0;
    background-color: transparent;
    background-color: salmon;
    color: white;
    padding: 5px;
    margin: 5px;
}

.indiv:hover {
    border: 2px solid #FA9C92;
}

a {
    color: black;
    text-decoration: none;

}