.row {
    width: 100vw;
    height: 100vh;
}

.container-img {
    font-size: 40px;
    color: #00748E;
}

.med {
    height: 5%;
}

.med img {
    width: 40px;
}

.o-med {
    padding-top: 115px;
    height: 90%;
}

.w-med {
    margin-bottom: 40px;
}

.w-med img {
    width: 270px;
}

.b-text {
    padding: 20px;
    font-size: 40px;
    color: #00748E;
}

.b-text h4 {
    color: black;
    padding: 10px;
    font-size: 17px;
}

.b-text-ul {
    margin: 10px;
}

.contnt-imag {
    padding-top: 50px;
}